@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    border-bottom: 1px solid #000;
    opacity: .5;
}

header .logo {
    position: relative;
    color: #000;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Hachi Maru Pop', cursive;
}
header ul {
    position: relative;
    display: flex;
    justify-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    width: 100%;
    padding: 10px 20px;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    border-radius: 50px;
}
header ul li a:hover {
    background: #003147;
    font-weight: 700;
}

.page1 {
    width: 100%;
    height: 850px;
    background-image: url("./image/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
}
.page1 a {
    text-decoration: none;
    color: #000;
    position: absolute;
    font-size: 45px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.page1 .main-content {
    position: relative;
    width: 500px;
    left: 150px;
    top: 150px;
}
h1 {
    font-size: 3.5em;
}
h3 {
    font-size: 1.5em;
}
p {
    position: relative;
    top: 3.5em;
    font-size: 2.5em;
    position: relative;
    font-family: 'Nanum Pen Script', cursive;
}
.page2 {
    width: 100%;
    height: 890px;
    background: #FAFAFA;
    position: relative;
}
.page2 .main-content {
    margin: 0 auto;
    width: 80%;
    height: 400px;
    position: relative;
    top: 200px;
    text-align: center;

}
.page2 .main-content h1 {
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: 500;
    white-space : nowrap;
}
.page2 .main-content h2 {
    font-size: 27px;
    color: #C0C0C0;
    white-space : nowrap;
}
.page2 .main-content span {
    position: relative;
    top: 100px;
    padding: 15px 30px;
    background: darkcyan;
    border-radius: 50px;
}
.page2 .func {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 200px;
    position: relative;
    bottom: -290px;
}
.page2 .func li {
    list-style: none;
    text-align: center;
}
.page2 .func li span {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 35px;
    font-weight: 500;
    color: #d2b48c;
}
.page2 .func li b {
    color: #6e6e6e;
}
.page3 {
    width: 100%;
    height: 650px;
    background: #fff;
    font-family: 'Raleway', sans-serif;
}
.page3 .main-content {
    text-align: center;
}
.page3 .main-content h1 {
    padding: 100px 0;
}
.page3 ul {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.page3 li {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    list-style: none;
    position: relative;
    right: 75px;
}
.page3 li:nth-child(1) {
    background: url("./image/p3.png");
    background-size: cover;
    background-position: -10px;
    background-repeat: no-repeat;
}
.page3 li:nth-child(2) {
    background: url("./image/p2.png");
    background-size: cover;
    background-position: -15px;
    background-repeat: no-repeat;
    margin: 0 200px;
}
.page3 li:nth-child(3) {
    background: url("./image/p1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.say {
    width: 200px;
    height: 110px;
    background: lightgrey;
    border-radius: 10px;
    position: relative;
    top: -100px;
    font-family: 'Pattaya', sans-serif;
    padding: 10px 10px;
    transform: translate(50%);
}
.side-left {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 80px;
    background: #003147;
    border: 1px solid #003147;
}
.side-right {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 80px;
    right: -250px;
    background: #003147;
    transition: .5s;
    border-left: 1px solid #003147;
}
.side-right.active {
    right: 0;
}
.list {
    text-align: center;
    background: #003147;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}
.content {
    box-sizing: border-box;
    width: 1000px;
    margin: 80px auto 0 auto;
    display: block;
    z-index: 10000;
}
.dropdown {
    width: 100%;
    position: relative;
    display: none;
}
.dropdown.active {
    display: flex;
}
.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
}
.dropdown-select {
    box-sizing: border-box;
    padding: 5px;
    margin: 3px auto;
    border-radius: 4px;
    background-color: #fff;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    cursor: pointer;
}
.dropdown-list.active {
    font-family: 'Poiret One', cursive;
    font-weight: 700;

    position: absolute;
    left: 250px;
    box-sizing: border-box;
    overflow-y: auto;
    margin: 1px auto;
    width: 100%;
    height: 350px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    z-index: 100;
}
.dropdown-list__item {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 3px 10px;
    font-size: 18px;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}
/*.dropdown-list__item:not(:first-child) {*/
/*    margin-top: 15px;*/
/*}*/
.dropdown-list__item:hover {
    background: lightgreen;
}
.select {
    width: 100%;
}
.info {
    background: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
    padding: 2px 0 2px 5px;
}
.title {
    background: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 800;
    font-size: 1em;
    border-bottom: 1px solid gray;
}
.content-btn {
    display: flex;
    justify-content: center;
}
.content-btn i {
    font-size: 50px;
}
@media screen and (max-width: 1500px) {
    .side {
        display: none;
    }
}
